<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlWoxTsblHQiHF-4--9tOfa2F6JhMiEQixopzdi6EwBE-iWz-Lw6xC6PN8GpDbfYDieGs&usqp=CAU" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
<section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>P</span>ranay <span>R</span>eddy</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/home" data-after="Home">Home</a></li>
                    <li><a href="/services" data-after="Service">Services</a></li>
                    <li><a href="/projects" data-after="Projects">Projects</a></li>
                    <li><a href="/about" data-after="About">About</a></li>
                    <li><a href="/contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" style="background:radial-gradient(blue,black);">
    <div class="contact container">
      <div>
        <h1 class="section-title" style="color: white;">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+91 9666503861</h2>
            
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>pranay0418@gmail.com</h2>
            <h2>reddypranay434@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>KADAPA ANDHRA PRADESH INDIA</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
   <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>P</span>RANAY <span>R</span>EDDY</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"></a>
        </div>
        <div class="social-item">
          <a href="https://www.facebook.com/pranay0418"> <i class="fab fa-facebook fa-3x "></i></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/mr_official_165/"> <i class="fab fa-instagram  fa-3x"></i></a>
        </div>
        <div class="social-item">
          <a href="https://www.linkedin.com/in/pranay-reddy-3407222a0?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BgakSclQoRV2dTKYtFFu0lA%3D%3D"> <i class="fab fa-linkedin  fa-3x"></i></a>
        </div>
      </div>
      <p>Copyright © 2024 Pranay. All rights reserved</p>
    </div>
  </section>
  <script>
    const hamburger = document.querySelector('.header .nav-bar .nav-list .hamburger');
const mobile_menu = document.querySelector('.header .nav-bar .nav-list ul');
const menu_item = document.querySelectorAll('.header .nav-bar .nav-list ul li a');
const header = document.querySelector('.header.container');

hamburger.addEventListener('click', () => {
	hamburger.classList.toggle('active');
	mobile_menu.classList.toggle('active');
});

document.addEventListener('scroll', () => {
	var scroll_position = window.scrollY;
	if (scroll_position > 250) {
		header.style.backgroundColor = '#29323c';
	} else {
		header.style.backgroundColor = 'transparent';
	}
});

menu_item.forEach((item) => {
	item.addEventListener('click', () => {
		hamburger.classList.toggle('active');
		mobile_menu.classList.toggle('active');
	});
});
  </script>
</body>
</html>
