<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/style.css">
      <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlWoxTsblHQiHF-4--9tOfa2F6JhMiEQixopzdi6EwBE-iWz-Lw6xC6PN8GpDbfYDieGs&usqp=CAU" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
<section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>P</span>ranay <span>R</span>eddy</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/home" data-after="Home">Home</a></li>
                    <li><a href="/services" data-after="Service">Services</a></li>
                    <li><a href="/projects" data-after="Projects">Projects</a></li>
                    <li><a href="/about" data-after="About">About</a></li>
                    <li><a href="/contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
   
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Recent <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Chat Bot</h1>
           
            <p href = "https://5pranaygpt.netlify.app/">A chatbot is an AI-powered application designed to simulate conversation with users, either through text or voice. It can answer questions, provide recommendations, and assist with tasks in real-time. Chatbots are widely used in customer support, sales, and information retrieval, offering businesses a way to engage customers efficiently while improving user experience.</p>
          </div>
          <div class="project-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJxBFZZzOdYW0TUueDESLMRlyQwtWRTgeKfs1qfTUkpdOru6FCBdRUKRoqlbJMcw9kU1I&usqp=CAU" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Candy Crush</h1>
            
            <p herf="https://7candycrush.netlify.app/">The Candy Crush game created using HTML, CSS, and JavaScript is a colorful, interactive puzzle game where players match three or more candies of the same color to score points. The game involves swapping adjacent candies to form matches, with levels and challenges increasing as the game progresses. It features engaging animations and a responsive design for a seamless experience</p>
          </div>
          <div class="project-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFjSZCmn2zRFy-IO_9sCGvmhX40sQpIUeeoGcfuAA2WXaFbtPQr71Ebtcnw-94YT_7EL8&usqp=CAU" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Search Engine</h1>
            
            <p href="https://15searchengine.netlify.app/">I have created a custom search engine using HTML, CSS, and JavaScript, integrated with the Google Custom Search API. This search engine allows users to input queries and fetch relevant results directly from Google's indexed pages. The design is responsive, and it provides an intuitive interface for browsing search results with a smooth user experience.</p>
          </div>
          <div class="project-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyX-u90RGy1MjWOTWRqAyleyUvoX0jGN0SMg&s" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Job Board </h1>
           
            <p>A job board using Spring Web MVC is a web application that allows users to view, search, and apply for jobs. It typically involves creating job listings, managing applications, and providing filters for job seekers. Spring Web MVC facilitates handling HTTP requests, controlling application flow, and rendering views, while Spring Boot can simplify configuration and setup.!</p>
          </div>
          <div class="project-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV6Cp3QQAi_1jGfQVZ8G2R53CM4hpBlFeLpQ&s" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Employee Management</h1>
            
            <p>Employee management using Spring Web MVC involves creating a web application to handle employee-related tasks such as adding, updating, viewing, and deleting employee records. It utilizes Spring's Model-View-Controller architecture, with the controller handling user requests, services for business logic, and repositories for data management. This structure ensures a clean separation of concerns and scalable applications.</p>
              <a class="cta" href="https://1drv.ms/x/c/83b06ffa47d9bc20/ESjLoZ6eJPVNqNhZ1rpfk3YBS4F_RXclj2BVCwjISoLBtg?e=WUmWTc" style="text-decoration: none; font-size: 18px; color: #fff;">For More Projects</a>
            
          </div>
          <div class="project-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkSuxkJG0CBGfzjamdXY_1H_rG_d7nuTmrCQtpazSvQP10omDt63qcJ_MlW6wJd2rFmlM&usqp=CAU" alt="img">
          </div>
          
          
        </div>
      </div>
    </div>
  </section>


   <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>P</span>RANAY <span>R</span>EDDY</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"></a>
        </div>
        <div class="social-item">
          <a href="https://www.facebook.com/pranay0418"> <i class="fab fa-facebook fa-3x "></i></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/mr_official_165/"> <i class="fab fa-instagram  fa-3x"></i></a>
        </div>
        <div class="social-item">
          <a href="https://www.linkedin.com/in/pranay-reddy-3407222a0?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BgakSclQoRV2dTKYtFFu0lA%3D%3D"> <i class="fab fa-linkedin  fa-3x"></i></a>
        </div>
      </div>
      <p>Copyright © 2024 Pranay. All rights reserved</p>
    </div>
  </section>
  <script>
    const hamburger = document.querySelector('.header .nav-bar .nav-list .hamburger');
const mobile_menu = document.querySelector('.header .nav-bar .nav-list ul');
const menu_item = document.querySelectorAll('.header .nav-bar .nav-list ul li a');
const header = document.querySelector('.header.container');

hamburger.addEventListener('click', () => {
	hamburger.classList.toggle('active');
	mobile_menu.classList.toggle('active');
});

document.addEventListener('scroll', () => {
	var scroll_position = window.scrollY;
	if (scroll_position > 250) {
		header.style.backgroundColor = '#29323c';
	} else {
		header.style.backgroundColor = 'transparent';
	}
});

menu_item.forEach((item) => {
	item.addEventListener('click', () => {
		hamburger.classList.toggle('active');
		mobile_menu.classList.toggle('active');
	});
});
  </script>
 

</body>
</html>
